/* Start Variablse */
:root {
    --main-color: #E93529;
    --black: #192a56;
    --light-color: #777;
    --white: #fff;
    --white-deg: #fafafa;
    --section-background: rgb(244, 244, 244);

    --main-transition: all 0.3s;
    --second-transition: all 0.5s;
    --section-padding: 50px;

    --main-border: 1px solid rgb(0, 0, 0, 0.3);
    --main-radius: 5px;
    --main-shadow:  0 0 5px 0 rgb(0 0 0 / 20%);
}
/* End Variablse */

.dark-theme {
    --section-background: black;
    --black: #fff;
}

/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
*::selection {
    background-color: var(--main-color);
    color: var(--white);
}

/* import Lexend Deca Font from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lexend+Deca:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: capitalize
}

.dark-mode {
    background-color: black !important;
}

html {
    scroll-behavior: smooth
}

ul {
    list-style: none;
}

a {
    text-decoration: none
}

.container,#map {
    max-width: 1300px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #eee;
}
::-webkit-scrollbar-track {
    box-shadow: 1px 0 5px 0 rgb(0, 0, 0, 0.4),
    1px 0 5px 0 rgb(0, 0, 0, 0.4) inset;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 20px;
}
/* End Global Rules */
/*===================================================================================*/
/* Start MyFreamwork */
.special-link {
    display: block;
    width: 150px;
    height: 40px;
    background: var(--black);
    color: var(--white-deg);
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
    border-radius: var(--main-radius);
    letter-spacing: 0.5px;
    transition: var(--main-transition);
    border: 1px solid transparent;
}

.special-link:hover {
    background-color: var(--main-color);
}

@media (max-width: 991px) {
    .special-link {
        margin: 20px auto 0;
    }
}

.special-heading {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special-heading span {
    color: var(--main-color);
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: .5px;
}

.special-heading .logo {
    max-width: 35px;
    object-fit: cover;
    margin: 4px 0;
    color: var(--main-color);
}

.special-heading h2 {
    font-size: 2rem;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: .5px;
    text-decoration: underline wavy var(--main-color);
}

.img {
    width: 100%;
    object-fit: cover;
    user-select: none;
}

.p-style {
    color: var(--light-color);
    line-height: 1.8;
    font-size: 15px;
}

/* Add Button ======*/
.add,
#order .container input[type="submit"] {
    width: 150px;
    height: 40px;
    background: var(--black);
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: .5px;
    margin-top: 15px;
    border-radius: var(--main-radius);
    cursor: pointer;
    transition: var(--main-transition);
}

.add:hover,
#order .container input[type="submit"]:hover {
    background: var(--main-color);
}
/* Price ========*/
.price {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--main-color);
}
/* End MyFreamwork */
/*===================================================================================*/
/* Search Input */
.search-input {
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    background: #192a56ea;
    z-index: 1000;
    transition: 0.4s ease-out;
}

.open {
    left: 0;
}

.search-input .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input #form {
    border-bottom: 2px solid var(--white-deg);
    width: 500px;
    height: 40px;
    grid-template-columns: 1fr 50px;
    display: grid;
    place-items: center;
    gap: 20px;
}

.search-input #form input {
    background: none;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    color: var(--white);
    caret-color: var(--main-color);
}

.search-input #form input::placeholder {
    color: var(--white-deg);
    letter-spacing: 1px;
    padding-left: 3px;
}

.search-input #form .search {
    width: 100%;
    height: 100%;
    text-align: center;
    background: none;
}

.search-input #form i {
    cursor: pointer;
    font-size: 20px;
    color: var(--main-color);
}

.search-input #close {
    position: absolute;
    top: 30px;
    right: 25px;
    width: 45px;
    height: 45px;
    background-color: var(--white-deg);
    border-radius: 50%;
    cursor: pointer;
    transition: var(--main-transition);
}

.search-input #close i {
    font-size: 25px;
    color: var(--black);
    transition: var(--main-transition);
}

.search-input #close:hover {
    background-color: var(--main-color);
}

.search-input #close:hover i {
    color: var(--white);
    transform: rotate(180deg);
}
/*===================================================================================*/
/* Start Header */
#header {
    height: 85px;
    width: 100%;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.4);
    background-color: var(--white);
    position: relative;
    z-index: 600;
}

.header-scroll {
    position: fixed !important;
    left: 0; right: 0;
    top: 0;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#logo {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 600;
}

.fixed-logo {
    position: relative !important;
    z-index: 900;
    color: white !important;
}

#logo i {
    color: var(--main-color);
    margin-right: 3px;
}

#header .nav-menu .links {
    display: flex;
}

#header .nav-menu .links > * a {
    display: block;
    padding: 6px 18px;
    color: var(--light-color);
    font-size: 1.1rem;
    letter-spacing: 1px;
    transition: var(--main-transition);
}

#header .nav-menu .links > * a.active {
    background: var(--main-color);
    color: var(--white-deg);
    border-radius: var(--main-radius);
}

#header .icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header .icon > * {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: var(--main-transition);
}

/* Add Disheds Box To Cart Btn =========*/
#header .icon button#cart {
    position: relative;
}

#header .icon button#cart::before {
    content: attr(data-num);
    position: absolute;
    top: -15px; left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 50%;
    line-height: 30px;
    opacity: 0;
}

.zero::before {
    opacity: 1 !important;
}
/* Add Disheds Box To Cart Btn =========*/

#header .icon > *:hover {
    background-color: var(--main-color);
}

#header .icon > * i {
    color: var(--black);
    transition: var(--main-transition);
}

#header .icon > *:hover i {
    color: var(--white-deg);
}

#header .icon .menu-btn {
    display: none;
    position: relative;
    z-index: 1000;
}

#header .icon .menu-btn > .toggle {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--black);
    position: relative;
    transition: var(--main-transition);
}

#header .icon .menu-btn:hover > .toggle,
#header .icon .menu-btn:hover > .toggle::before,
#header .icon .menu-btn:hover > .toggle::after {
    background-color: var(--white-deg);
}

#header .icon .menu-btn > .toggle::before,
#header .icon .menu-btn > .toggle::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    transition: var(--main-transition);
}

#header .icon .menu-btn > .toggle::before {
    top: -7px;
}

#header .icon .menu-btn > .toggle::after {
    bottom: -7px;
}

/* Menu Btn > Icon Style */
.active .toggle {
    background-color: transparent !important;
}

.active .toggle::before {
    transform: rotate(45deg);
    top: 0 !important;
}

.active .toggle::after {
    transform: rotate(-45deg);
    bottom: 0 !important;
}

/* Open && Close Menu In Small sereens ========*/
@media(max-width: 991px) {
    /* Show Menu Btn */
    #header .icon .menu-btn {
        display: grid;
    }

    #header .nav-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #192a56ed;
        z-index: 600;
        transition: 0.4s ease-out;
    }

    .active {
        left: 0% !important;
    }

    #header .nav-menu .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #header .nav-menu .links li {
        width: 100%;
        text-align: center;
    }
    #header .nav-menu .links li a {
        padding: 20px 0;
        width: 100%;
        border-radius: 0 !important;
        color: var(--white-deg);
    }
}
/* End Header */
/*===================================================================================*/
/* Start  Page Section */
#home {
    min-height: 80vh;
    width: 100%;
    background-color: var(--white);
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

#home .slide {
    min-height: 80vh;
    position: absolute;
    top: 0;
    width: 100%;
    transition: 0.5s;
}

#home .slide .container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 50px;
}

@media (max-width: 1199px) {
    #home .slide .image {
        width: 400px !important;
    }
    #home .slide .image img {
        width: 100%;
    }
}

#home .slide .text {
    max-width: 500px;
}

#home .slide .text span {
    display: block;
    color: var(--main-color);
    font-size: 1.6rem;
    letter-spacing: 0.5px;
}
/* Add Animation Class To Text Div */
.animation span {
    animation: down 1.4s ease-out forwards;
}

#home .slide .text h1 {
    margin: 15px 0;
    color: var(--black);
    font-size: 3.5rem;
    letter-spacing: 1px;
}
/* Add Animation Class To Text Div */
.animation .special-link {
    animation: opacity 1.6s ease-out forwards;
    animation-delay: 2s;
    opacity: 0;
}

@media (max-width: 991px) {
    #home .slide .text h1 {
        font-size: 2.5rem;
    }
}

#home .slide .text p {
    color: var(--light-color);
    line-height: 1.6;
}

/* Add Animation Class To Text Div */
.animation :is(h1, p) {
    animation: bottom 1.4s ease-out forwards;
}

#home .slide .image {
    width: 550px;
    box-shadow: 0px 5px 5px 5px rgb(0 0 0 / 20%);
    border-radius: 50%;
    user-select: none;
}

/* Large Screens Duration ================*/
@media (min-width: 992px) {
    #home .slide .image {
        animation: up-and-dwon 2.5s linear infinite;
    }
}

/* Small Screens Duration ================*/
@media (max-width: 991px) {
    #home .slide .image {
        animation: rotate 7s linear infinite;
    }
}

#home .slide .image img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 991px) {
    #home .slide .container {
        flex-direction: column-reverse;
        justify-content: center !important;
    }

    #home .slide .image {
        width: 300px !important;
    }
    #home .slide .image img {
        width: 100%;
    }

    #home .slide .text {
        text-align: center;
    }
}
/* Animation =====================*/
/* Large Screens ================*/
@media (min-width: 992px) {
    @keyframes up-and-dwon {
        0%, 100% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-35px);
        }
    }
}
/* Small Screens ================*/
@media (max-width: 991px) {
    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }
}

@keyframes bottom {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes down {
    0% {
        transform: translateY(-300px);
    }
    100% {
        transform: translateY(0);
    }
}

/* special-link Animation */
@keyframes opacity {
    100% {
        opacity: 1;
    }
}

/* Slide Control ===========*/
.control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    cursor: pointer;
    transition: var(--main-transition);
    border: 1px solid rgb(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    z-index: 200;
    border-radius: 50%;
}

@media (max-width: 991px) {
    .control {
        width: 40px;
        height: 40px;
    }

    .control i {
        font-size: 1.6rem !important;
    }
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.control:hover {
    background-color: var(--main-color);
    transition: var(--main-transition);
    border: 1px solid transparent;
}

.control i {
    color: var(--black);
    font-size: 2rem;
}

.control:hover i {
    color: var(--white);
}
/* End Home Page Section */
/*===================================================================================*/
/* Start Popular Dishes Section */
#dishes {
    padding-top: calc(var(--section-padding) + 20px);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

#dishes .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 25px;
}

@media(max-width: 550px) {
    #dishes .container,
    #menu .container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
    }
}

#dishes .box {
    text-align: center;
    padding: 20px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
    border-radius: var(--main-radius);
    position: relative;
    z-index: 1;
    transition: var(--second-transition);
}

#dishes .box:hover {
    box-shadow: none;
}

#dishes .box::before,
#dishes .box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    z-index: 2;
    transition: all 0.6s cubic-bezier(0, 0, 0.21, 0.4) 0s;
    border-radius: var(--main-radius);
}

#dishes .box::before {
    left: 0;
    top: 0;
}
#dishes .box::after {
    right: 0;
    bottom: 0;
}

#dishes .box:hover::before,
#dishes .box:hover::after {
    height: 100%;
}

/* Overline */
#dishes .box :is(.overline, .underline) {
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: all 0.6s cubic-bezier(0, 0, 0.21, 0.4) 0s;
    border-radius: var(--main-radius);
}

.overline {
    right: 0;
    top: 0;
}
/* Underline */
.underline {
    left: 0;
    bottom: 0;
}

#dishes .box:hover :is(.overline,.underline) {
    width: 100%;
}

#dishes .box .image {
    width: 200px;
    display: inline-block;
    margin-bottom: 20px;
}

#dishes .box .image .img {
    transition: var(--second-transition);
    min-height: 200px;
    max-height: 200px;
}

#dishes .box:hover .image .img {
    transform: scale(1.08);
}

#dishes .box .info .name,
.select > .box > .info > .name {
    display: block;
    color: var(--black);
    font-size: 1.5rem;
    margin-bottom: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

#dishes .box .info .rate i,
#menu .cart .rate i,
#review .customer .info .data .cus-details .rate > * {
    color: #e9ae29;
}

/* icon ========*/
#icon {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#icon > * {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--section-background);
    cursor: pointer;
    transition: var(--second-transition);
}

#icon #preview {
    transform: translateX(-70px);
}

#icon #heart {
    transform: translateX(70px);
}

#dishes .box:hover :is(#preview, #heart) {
    transform: translateX(0);
}

#icon > * i,
#menu .cart > #heart i {
    font-size: 1.3rem;
    color: var(--black);
}

#icon #heart i {
    animation: heart-beat 0.5s infinite;
    transition: var(--main-transition);
}

#icon > *:hover i,
#menu .cart > #heart:hover i {
    color: var(--main-color);
}

@keyframes heart-beat {
    0%, 100% {
        transform: scale(0.9);
    }
    40%, 60% {
        transform: scale(1.09);
    }
}
/* End Popular Dishes Section */
/*===================================================================================*/
/* Strat About Section */
#about,#menu,#review,#order {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

#about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#about .image {
    flex-basis: 50%;
}

#about .about-content {
    flex-basis: 50%;
}

@media(max-width: 991px) {
    #about .image,
    #about .about-content {
        flex-basis: 100% !important;
        text-align: center;
    }
}

#about .about-content .h1 {
    font-size: 2rem;
    color: var(--main-color);
    letter-spacing: 1px;
    margin-bottom: 10px;
}
@media(max-width: 767px) {
    #about .about-content .h1 {
        font-size: 1.8rem;
    }
}

#about .about-content .services {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 10px;
    margin-top: 25px;
}

#about .about-content .services > * {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--section-background);
    border: var(--main-border);
    border-radius: var(--main-radius);
    position: relative;
}

#about .about-content .services > *:hover::after {
    animation: fill 1s forwards;
}

@keyframes fill {
    0% {left: 0; transform: translateX(0);}
    100% {width: 100%; left: 0; transform: translateX(0);}
}

@media(max-width: 991px) {
    #about .about-content .services > * {
        flex: 1;
        justify-content: center;
    }

    #about .about-content .services > * span {
        white-space: nowrap;
    }
}

#about .about-content .services > * i,
#footer .box i {
    color: var(--main-color);
}

#about .about-content .services > * span {
    color: var(--black);
    letter-spacing: .5px;
}
/* End About Section */
/*===================================================================================*/
/* Start Menu Section */
#menu,#order {
    background-color: var(--section-background);
}

#menu .container {
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(350px, 1fr));
    gap: 25px;
}



#menu .container > * {
    padding: 17px;
    background-color: var(--white);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
    border-radius: var(--main-radius);
    position: relative;
}

#menu .cart .image .img {
    border-radius: var(--main-radius);
    max-height: 259px;
}

#menu .cart .rate {
    margin: 15px 0;
}

#menu .cart .title h4 {
    font-size: 1.4rem;
    letter-spacing: .5px;
    font-weight: 600;
    color: var(--black);
}

#menu .cart .title .p-style {
    margin: 10px 0;
}

#menu .cart .info {
    display: flex;
    align-items: center;
    gap: 15px;
}

#menu .cart .info > .price {
    display: inline-block;
    margin-top: 10px;
}

#menu .cart > #heart {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

#menu .cart > #heart:hover i {
    animation: heart-beat 0.5s infinite;
}
/* End Menu Section */
/*===================================================================================*/
/* Start Review Section */
#review .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#review .customer {
    padding: 30px 20px;
    box-shadow: var(--main-shadow);
    border-radius: var(--main-radius);
    position: relative;
    transition: var(--second-transition);
    cursor: grab;
}

#review .customer:hover {
    transform: translateY(-15px);
}

#review .customer .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

#review .customer .info .data {
    display: flex;
    align-items: center;
    gap: 12px;
}

#review .customer .info .data .image img {
    max-width: 80px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    outline: 1px solid var(--main-color);
    transition: var(--second-transition);
}

#review .customer:hover .info .data .image img {
    transform: translateX(220px) rotate(360deg);
}
@media(min-width: 330px) and (max-width: 385px)  {
    #review .customer:hover .info .data .image img {
        transform: translateX(170px) rotate(360deg);
    }
}

#review .customer .info .data .cus-details .name {
    display: inline-block;
    margin-bottom: 5px;
    color: var(--black);
    font-size: 1.1rem;
}

#review .customer .info .quote i {
    color: var(--light-color);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--light-color);
}
/* End Review Section */
/*===================================================================================*/
/* Start Order Section */
#order .container {
    columns: 2 auto;
    column-gap: 1.4rem;
    background-color: var(--white);
    padding: 2rem 15px;
    box-shadow: var(--main-shadow);
    border-radius: var(--main-radius);
    position: relative;
}

@media(max-width: 991px) {
    #order .container {
        columns: 1 auto;
        width: calc(100% - 30px);
    }

    #order .form:first-child {
        margin-bottom: 1.8rem;
    }
}

#order .form .input {
    margin-bottom: 20px;
}

#order .form label {
    display: block;
    margin-bottom: 8px;
    color: var(--light-color);
}

#order .form .input input {
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    background-color: var(--section-background);
    padding: 0 10px;
    border-radius: var(--main-radius);
    caret-color: var(--main-color);
    border: 1px solid transparent;
}

#order .form .text-area textarea {
    min-height: 200px;
    max-height: 200px;
    width: 100%;
    background-color: var(--section-background);
    padding: 15px;
    border-radius: var(--main-radius);
    resize: none;
    caret-color: var(--main-color);
    border: 1px solid transparent;
}

#order .form .text-area textarea:focus,
#order .form .input input:focus {
    border: 1px solid var(--main-color);
}

@media(max-width: 991px) {
    #order .container input[type="submit"] {
        position: absolute;
    bottom: 8px;
    margin: 10px 0;
    }

    #order .form .text-area {
        margin-bottom: 40px;
    }
}

/* Location Map =========*/
#map {
    width: calc(100% - 30px);
    margin-top: 25px;
    background-color: var(--white);
    padding: 15px;
    border-radius: var(--main-radius);
    box-shadow: var(--main-shadow);
}
#map iframe {
    width: 100%;
    height: 50vh;
}
/* End Order Section */
/*===================================================================================*/
/* Start Footer Section */
#footer {
    background-color: var(--black);
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) - 15px);
}

#footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    border-bottom: 1px solid var(--white-deg);
    padding-bottom: 20px;
}

#footer .box h5 {
    margin-bottom: 20px;
    font-size: 1.3rem;
    color: var(--white);
    border-bottom: 2px solid var(--main-color);
    display: inline-block;
    padding-bottom: 4px;
}

#footer .box .services > *,
#footer .box .contact-box {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

#footer .box i {
    font-size: 1.3rem;
}

#footer .box span {
    color: var(--white);
}

#footer .box .links li a {
    display: inline-block;
    padding: 12px 0;
    font-size: 18px;
    color: var(--white);
    transition: var(--second-transition);
}

#footer .box .links li a:hover {
    transform: translateX(10px);
    color: var(--main-color);
}

#footer .box .social {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

#footer .box .social > * {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--main-color);
}
#footer .box .social > * i {
    color: var(--white);
}

#footer .created-by {
    text-align: center;
    margin-top: 20px;
    line-height: 1.6;
    padding: 0 10px;
}

#footer .created-by > * {
    color: var(--white);
    font-size: 18px;
    letter-spacing: .5px;
}
#footer .created-by > *:nth-child(2) {
    color: var(--main-color);
    border-right: 2px solid var(--white-deg);
    padding-right: 5px;
}
/* End Footer Section */

/* Loading Page Animation */
#loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    z-index: 1000;
    display: grid;
    place-items: center;
    visibility: visible;
}

/* Up Button =======*/
#up {
    position: fixed;
    bottom: 15px;
    right: 0;
    transform: translateX(45px);
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    cursor: pointer;
    z-index: 800;
    transition: var(--second-transition);
}

.show {
    transform: translateX(-15px) !important;
}

#up i {
    color: var(--white);
    font-size: 1.4rem;
    animation: up-and-down 0.5s infinite;
}
@keyframes up-and-down {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(3px);}
}
/*===================================================================================*/
/* Add Dishes To Select Div (Cart) */
.select {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 600px;
    background-color: var(--black);
    z-index: 1000;
    border-radius: var(--main-radius);
    overflow: hidden auto;
    gap: 10px;
    padding: 20px 15px;
    display: none;
    box-shadow: var(--main-shadow);
    animation: opacity 0.3s;
}

.show-cart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 991px) {
    .select {
        width: 90%;
    }

    .show-cart {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .select {
        width: 70%;
    }
}

@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.select > .box {
    border: 1px solid var(--white);
    height: 300px;
    padding: 15px;
    text-align: center;
    background-color: var(--white);
    border: 1px solid ;
    border-radius: var(--main-radius);
}

.select > .box > .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select > .box .image .img {
    width: 150px;
}

/* Create Overlay When Click To Cart Btn */
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    z-index: 900;
    display: none;
    animation: opacity 0.5s;
}
.overlay.open {
    display: block;
}

/* Close Btn ============*/
.close {
    position: absolute;
    right: 25px; top: 25px;
    width: 45px;
    height: 45px;
    background-color: var(--main-color);
    border-radius: 50%;
    cursor: pointer;
    z-index: 200;
}

.close i {
    color: var(--white);
    font-size: 1.6rem;
}